table, th, td {
    border: 1px solid black;
}

.message{

	color:blue;
}

.clicker{
	color:red;
}



body {
	
	background-color:#D04571;


}

#title1  {
	position: relative;
  left:70px;
  top:15px;
   float: left;
}







 li {
    padding: 8px;
    margin-bottom: 8px;
    background-color: #33b5e5;
    color: #ffffff;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.7);
}
 li:hover {
    background-color: #0099cc;
    cursor: pointer;
}

#table1div{
	margin: auto;
  border: none;
  position: relative;
  
    left: 180px;
    top: 1px;
}

#blog1 #t3 {color:#D3cee3;} 
 #blog1 #t2 {color:#D3cee3;}
 #blog1 #t1{color:#D3cee3;}

.btn1{

cursor: pointer;
position: relative;
    left: 380px;  
     padding: 15px 20px;
}

.Heading1{
color: #D3cee3;
 position: relative;
    left: 380px;
    font-size:40px;
     height: 40px;
    width: 400px;

}


.postbtns11 , .postbtns12, .postbtns21 , .postbtns22 , .deluserclass{

   color: #ee115F;
  background-color: #389feb;
  font-weight: bold;

}


#showhidecmt .postbtns11 {

  
  position: absolute;
  bottom: 10px;
  left: 50px;
}

#showhidecmt .postbtns12 {
 
  
  position: absolute;
  bottom: 10px;
  left: 170px;
}


#adddeletepost .postbtns21{

position: absolute;
  bottom: 10px;
  left: 290px;

}


#adddeletepost .postbtns22{


position: absolute;
  bottom: 10px;
  left: 370px;

}


#adddeletepost .deluserclass{


position: absolute;
  bottom: 10px;
  left: 460px;

}


#adddeletepost .boxsave{


position: absolute;
  bottom: 30px;
  left: 40px;

}

#searchmain1{

 position: relative;
    left: 300px;  
        height: 40px;
    width: 400px;
}



.box {

  position: absolute;
  left:250px;
  bottom: 80px;

height:120px;width:660px;border:none;
font:16px/26px Georgia, Garamond, Serif;
overflow:auto;
}


#logintitle2{
position: absolute;
top:200px;
left: 12px
}

#loginblog2{
position: absolute;
top:200px;
left: 250px;
color:#D3cee3;
}

.cross {
  color: #fefa64;
}



.addcmt .cmtbtn21{

  position: absolute;
  bottom: -5px;
  left:20px;
  margin-right: 5px;
   
   background-color:#77bfea;
      -moz-border-radius:18px;
      -webkit-border-radius:18px;
      border-radius:18px;
      border:2px solid #18ab29;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Courier;
      font-size:17px;
      font-weight:bold;
      padding:5px 3px;
      text-decoration:none;
      text-shadow:0px -1px 8px #2f6627;
  
}

.addcmt .cmtbtn22{

  position: absolute;
  bottom: -5px;
  left:150px;
  margin-left: 5px;

  background-color:#77bfea;
      -moz-border-radius:18px;
      -webkit-border-radius:18px;
      border-radius:18px;
      border:2px solid #18ab29;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Courier;
      font-size:17px;
      font-weight:bold;
      padding:5px 3px;
      text-decoration:none;
      text-shadow:0px -1px 8px #2f6627;
  
}

#blog1  {
  
  color: blue;
  position: relative;
  
    left:210px;
    top: 15px;
    font-size: 17px;
}  


.addcmt .box44cmt{

 position: absolute;
  left:315px;
  bottom: 75px;

height:120px;width:700px;
border:none;
font:16px/26px Georgia, Garamond, Serif;
overflow:auto;
  
}

.addcmt #addcommentForm{
position: absolute;
  left:10px;
  bottom: 75px;

}